body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
}

.wo-track-container {
  position: relative; /* Establish this container as a positioning context */
  width: 100%; /* Ensure it stretches to match the parent */
  height: 100%; /* Fill the parent height */
}

.user-loggedIn {
  position: absolute; /* Position it relative to .wo-track-wrapper */
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional styling */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1; /* Ensure it stays above other content */
}

.user-logout {
  position: absolute;
  top: 40px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional styling */
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1; 
}

.wo-track-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
}
