body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 1fr 7fr;
  height: 100vh; /* Set the maximum height to 58% of the viewport height */
}

.wo-track-container {
  position: relative; /* Establish this container as a positioning context */
  width: 100%; /* Ensure it stretches to match the parent */
  height: 100%; /* Fill the parent height */
}

.user-loggedIn {
  position: absolute; /* Position it relative to .wo-track-wrapper */
  white-space: nowrap;
  top: 10px; /* Distance from the top */
  left: 10px; /* Distance from the left */
  padding: 5px 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional styling */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1; /* Ensure it stays above other content */
}

.user-logout {
  position: absolute;
  white-space: nowrap;
  top: 45px;
  left: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Optional styling */
  border: 1px solid #ccc;
  border-radius: 5px;
  z-index: 1; 
}

.wo-track-main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align content to the top */
  align-items: center; /* Center horizontally */
}

/* Card project  */
.main-content {
  display: grid;
  grid-column: 2/3;
  grid-row: 3/4;
  background-color: #e2e8f0;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  font-family: Roboto;
  margin-bottom: 20px;
}

/* Article part */
.article {
  grid-column: 1/2;
  margin: 0px 20px 0px 20px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  grid-column: 2/3;
  gap: 30px;
}

.card {
  border: 0px solid gray;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 1px 1px 1px lightgray;
  padding: 18px;
}

.card .title {
  color: black;
  font-size: 18px;
  font-weight: 700;
}

.card p {
  color: gray;
  font-size: 14px;
  line-height: 1.4;
}

.card .card-features {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 28px;
}

/* Article part finish */
