@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

html,
body {
    margin: 0;
    font-family: 16px 'Roboto', sans-serif; /* Use font-family instead of font */
}

.App {
    display: grid;
    grid-template-columns: 250px auto; /* Sidebar fixed, main content flexible */
    grid-template-rows: auto; /* Adjust height dynamically */
    height: 100vh; /* Full height of the viewport */
    background-color: #f9f9f9;
}

.wotrack-logo {
    display: flex;
    align-items: center; /* Aligns items vertically in the center */
    justify-content: flex-start; /* Start elements on the left */
    gap: 10px; /* Spacing between elements */
    padding: 10px 20px; /* Horizontal padding */
    background-color: #f9f9f9; /* Optional: background for visibility */
    position:absolute;
    border-bottom: 1px solid #e2e8f0;
}

/* Style leftbar */
.leftbar {
  position: fixed; /* Position relative to the nearest positioned ancestor */
  top: 80px; /* Adjust this to match the bottom of header-two */
  left: 0;
  bottom: 0;
  width: 250px;
  background-color: #555;
  color: #f0f0f0;
  overflow-y: auto;
  z-index: 5;
  border-radius: 2.5px;
  box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}

.first-header{
    display: flex;
    justify-content: space-between;
    margin: 0px 20px;
}

.first-header button { 
    background-color: #4AAFE2; /* A lighter shade of #1992d4 */
    border: none;
    color: white;
    border-radius: 5px;
    padding: 8px 8px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    margin: auto 0px;
}

.first-header button:hover { 
    transform: scale(1.03); /* Slight zoom on hover */
}

.search-workout-bar {
    display:flex;
    flex-direction: row;
    margin: 0px 0 0 20px;
}

.search-workout-bar .search-workout {
    background-color: #e2e8f0;
    border: 0px solid gray;
    border-radius: 4px;
    max-width: 180px; 
    min-width: 40px;
    height: 30px;
    font-size: 13px;
    font-family: Roboto;
}

.workouts-list {
    margin: 20px;
}

.list-workouts{
    list-style: none;
    margin: 0px;
}

.hamburger {
    background: none;
    border: lightgray 1px solid;
    font-size: 24px;
    cursor: pointer;
    border-radius: 10px;
    padding: 2px;
    color: gray;
}

.hidden {
    display: none;
}

.sidebar {
    height: 100%; 
    width: 250px; 
    background-color: #1992d4;
    color: white;
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 5; 
    transform: translateX(-100%); 
    transition: transform 0.3s ease;
}

.sidebar.open {
    transform: translateX(0); /* Slide into view */
}

/* Close button inside the sidebar */
.close {
    background: none;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* Styling a dashboard  */
.dashboard {
    display: inline-flex;
    align-items: center;
    grid-row: 1/2;
    margin: 0px 0px 0px 10px;
    padding: 0px 16px 16px 10px;
    gap: 12px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
}

.feature-one .feature-one-logo {
    gap: 12px;
    padding: 10px 25px;
}

.feature-two .feature-two-logo {
    gap: 12px;
    padding: 10px 25px;
}

.feature-one-logo {
    display: flex;
    align-items: center;
}

.feature-two-logo {
    display: flex;
    align-items: center;
}

.feature-one .feature-one-logo {
    margin: 10px 10px 10px -5px;
}

.feature-two .feature-two-logo {
    margin: 10px 10px 10px -5px;
}

ul li {
    list-style: none;
}

/* Font type and size in feature-one sidebar */
.sidebar .feature-one {
    grid-row: 2/3;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
}

/* Change image color to white */
.sidebar img {
    filter: invert(100%);
}

/* Font type and size in feature-two sidebar */
.sidebar .feature-two {
    grid-row: 3/4;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
}

/* Header one */
.header-one {
    display: grid;
    justify-items: flex-start;
    align-items: center;
    grid-column: 2/3;
    grid-template-columns: 4fr 1fr;
    background-color: #f9f9f9;
    margin: 15px 0px 15px 20px;
}

/* Header one search part*/
.search-bar {
    display: flex;
    align-items: center;
    grid-column: 1/2;
    flex-grow: 1;
    gap: 18px;
    margin-left: 70px;
    justify-content: center;
}

.search-bar .search {
    background-color: #e2e8f0;
    border: 0px solid gray;
    border-radius: 12px;
    padding: 5px 12px;
    width: 80%;
    max-width: 900px; 
    min-width: 600px;
    height: 30px;
    font-size: 18px;
}

/* Header one user part */
.header-one .user {
    display: flex;
    flex-direction: row;
    justify-content: end;
    grid-column: 2/3;
    padding: 5px;
    gap: 18px;
    margin-top: -5px;
}

.header-one .username {
    font-family: Roboto;
    font-weight: 700;
    font-size: 18px;
}

/* Header two */
.header-two {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column: 2/3;
    background-color: #f9f9f9;
    gap:2px;
}

.header-two .welcome {
    display: flex;
    flex-direction: row;
    grid-column: 1/2;
    margin-left: 30px;
    font-family: Roboto;
    font-weight: 700;
    gap: 18px;
}

.welcome .welcome-banner {
    font-size: 18px;
    line-height: 6px;
}

/* Header two functionalities */
.functionalities {
    display: flex;
    justify-content: center;
    flex-direction: row;
    grid-column: 2/3;
    text-align: center;
    gap: 30px;
    margin-top: 10px;
}

.functionalities button {
    background-color: #1992d4;
    border: none;
    color: white;
    border-radius: 28px;
    padding: 8px 26px;
    width: 100px;
    text-align: center;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    margin: auto;
}

/* Card project  */
.main-content {
    display: grid;
    grid-column: 2/3;
    grid-row: 3/4;
    padding-bottom: 20px;
    background-color: #e2e8f0;
    grid-auto-flow: column;
    grid-template-columns: 3fr 1fr;
    font-family: Roboto;
    border-radius: 2.5px;
}

/* Article part */
.article {
    grid-column: 1/2;
    margin: 0px 20px 0px 20px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
    gap: 30px;
}

.card {
    background-color: #ffffff;
    padding: 18px;
    border-radius: 12px;
    box-shadow: 0px 1px 1px 1px lightgray;
}

.card .title {
    color: black;
    font-size: 18px;
    font-weight: 700;
}

.card p {
    color: gray;
    font-size: 14px;
    line-height: 1.4;
}

.card .card-features {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 28px;
}

/* Article part finish */

/* Finish article part */
.right-container {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
}

/* Announcement part */
.announcements {
    display: grid;
    align-content: flex-start;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-right: 20px;
}

.announcement {
    border: 0px solid gray;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 1px lightgray;
    padding: 18px;
    color: gray;
}

.announcement p {
    font-size: 8px;
}

.announcement-title {
    color: black;
}

.announcement p {
    font-size: 12px;
}

/* Finish announcement part */

/* Trending part */
.trending-container {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-right: 20px;
}

.trending {
    border: 0px solid gray;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0px 1px 1px 1px lightgray;
    padding: 14px;
    line-height: 1.4;
    font-family: Roboto;
}


.trending .trending-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    line-height: 0.5;
    margin: 8px;
}


.users {
    display: inline-block;
    color: black;
}

.users p {
    color: gray;
    font-size: 12px;
}

.users .bold {
    color: black;
}

/* Finish Trending part */

/* Responsive Adjustments */
@media (max-width: 1024px) {
    .container {
        grid-template-columns: 1fr 4fr;
    }

    .header-one, .header-two {
        margin: 10px;
    }

    .search-bar .search {
        font-size: 14px;
        height: 25px;
    }

    .functionalities button {
        padding: 5px 15px;
        width: auto;
    }

    .card-container {
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .sidebar {
        grid-column: 1/2;
        grid-row: 1/2;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header-one, .header-two, .main-content {
        grid-column: 1/2;
    }

    .header-one {
        grid-template-columns: 3fr 1fr;
    }

    .search-bar .search {
        font-size: 12px;
        width: 100%;
    }

    .card-container {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}

@media (max-width: 480px) {
    .header-one, .header-two {
        grid-template-columns: 1fr;
    }

    .search-bar {
        flex-direction: column;
        gap: 10px;
    }

    .functionalities button {
        padding: 4px;
        font-size: 12px;
    }

    .card {
        padding: 10px;
        font-size: 12px;
    }

    .sidebar {
        flex-direction: column;
        align-items: center;
        grid-template-rows: auto;
    }
}
